workflow.json
{
  "id": "lead-qualifier-crm-001",
  "name": "lead-qualifier-crm",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "3a3b3c3d-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst os = require('os');\n\nconst baseDir = path.join(os.homedir(), 'lead-qualifier-crm-data');\nconst dirs = ['inbox', 'processed'];\n\nfor (const d of dirs) {\n  fs.mkdirSync(path.join(baseDir, d), { recursive: true });\n}\n\nconst inboxDir = path.join(baseDir, 'inbox').split(path.sep).join('/');\n\nreturn [{ json: { inboxDir } }];"
      },
      "id": "3a3b3c3d-0002-4000-8000-000000000002",
      "name": "Prepare Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.inboxDir }}/*.json",
        "options": {}
      },
      "id": "3a3b3c3d-0003-4000-8000-000000000003",
      "name": "Read Lead Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-320, 0]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "data",
        "destinationKey": "lead",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "3a3b3c3d-0004-4000-8000-000000000004",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-80, 0],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"llama3.1:8b\", stream: false, options: { temperature: 0, num_predict: 200 }, prompt: \"No thinking, no preamble, no markdown, no repeating the labels, no extra lines. You are scoring an incoming sales lead for a small automation consultancy. Output EXACTLY these 4 lines and nothing else:\\n\\nINTENT: <one short phrase, under 8 words>\\nURGENCY: <one word: low, medium, high>\\nSCORE: <a single whole number from 1 to 10 rating how qualified and ready-to-buy this lead is>\\nSUMMARY: <one sentence, under 30 words>\\n\\nLead details:\\nName: \" + (($json.lead && $json.lead.name) || \"\") + \"\\nCompany: \" + (($json.lead && $json.lead.company) || \"unknown\") + \"\\nSource: \" + (($json.lead && $json.lead.source) || \"unknown\") + \"\\nMessage: \" + ((($json.lead && $json.lead.message) || \"\").slice(0, 1500)) }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3a3b3c3d-0005-4000-8000-000000000005",
      "name": "Ollama Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 0],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const readItems = $('Read Lead Files').all();\nconst extractItems = $('Extract Lead Data').all();\nconst httpItems = $input.all();\nconst allowedUrgencies = ['low', 'medium', 'high'];\nconst results = [];\n\n// Read Lead Files -> Extract Lead Data -> Ollama Score Lead all process\n// items 1:1 in order (no batching enabled anywhere), so zipping by index\n// is safe here even when one of them hit a per-item error.\nfor (let i = 0; i < httpItems.length; i++) {\n  const readItem = (readItems[i] && readItems[i].json) || {};\n  const extractItem = (extractItems[i] && extractItems[i].json) || {};\n  const httpItem = httpItems[i].json;\n  const lead = extractItem.lead || {};\n  const fileName = readItem.fileName || '';\n  const reasons = [];\n\n  if (extractItem.error) {\n    reasons.push('Could not read/parse lead file as JSON: ' + extractItem.error);\n  }\n\n  if (!lead.name || !String(lead.name).trim() || !lead.message || !String(lead.message).trim()) {\n    reasons.push('Lead file is missing a required field (name or message)');\n  }\n\n  if (httpItem.error) {\n    const errText = JSON.stringify(httpItem.error);\n    const modelNotFound = /model .* not found/i.test(errText);\n    reasons.push(\n      modelNotFound\n        ? 'The model set in the \"Ollama Score Lead\" node is not pulled on this machine. Run `ollama pull <model name>`, or edit the model field - see the README for picking a model based on your RAM.'\n        : 'Could not reach Ollama - is it running? (' + httpItem.error.message + ')'\n    );\n    results.push({\n      json: {\n        ...lead,\n        fileName,\n        intent: '',\n        urgency: '',\n        score: null,\n        summary: '',\n        valid: false,\n        reasons,\n        route: 'invalid',\n        checked_at: new Date().toISOString(),\n      },\n    });\n    continue;\n  }\n\n  const raw = httpItem.response || '';\n  const intentMatch = raw.match(/INTENT:\\s*(.+)/i);\n  const urgencyMatch = raw.match(/URGENCY:\\s*(.+)/i);\n  const scoreMatch = raw.match(/SCORE:\\s*(\\d+)/i);\n  const summaryMatch = raw.match(/SUMMARY:\\s*([\\s\\S]+)/i);\n\n  const intent = intentMatch ? intentMatch[1].trim() : '';\n  const urgencyRaw = urgencyMatch ? urgencyMatch[1].trim() : '';\n  const urgency = urgencyRaw.toLowerCase();\n  const scoreNum = scoreMatch ? parseInt(scoreMatch[1], 10) : NaN;\n  const summary = summaryMatch ? summaryMatch[1].trim() : '';\n\n  if (!intent || !urgencyRaw || !summary || !scoreMatch) {\n    reasons.push('Missing INTENT, URGENCY, SCORE, or SUMMARY section - could not parse model output');\n  }\n\n  if (urgencyRaw && !allowedUrgencies.includes(urgency)) {\n    reasons.push('URGENCY must be low, medium, or high - got \"' + urgencyRaw + '\"');\n  }\n\n  if (scoreMatch && (!Number.isInteger(scoreNum) || scoreNum < 1 || scoreNum > 10)) {\n    reasons.push('SCORE must be a whole number from 1-10 - got \"' + scoreMatch[1] + '\"');\n  }\n\n  const labelCount = (raw.match(/\\b(INTENT|URGENCY|SCORE|SUMMARY)\\s*:/gi) || []).length;\n  if (labelCount > 4) {\n    reasons.push('Model output contains extra/repeated labeled sections (possible prompt injection) - needs human review');\n  }\n\n  if (/\\b(INTENT|URGENCY|SCORE|SUMMARY)\\s*:/i.test(lead.message || '')) {\n    reasons.push('Lead message contains text resembling the scoring output format (possible prompt injection attempt) - needs human review');\n  }\n\n  const valid = reasons.length === 0;\n  const route = !valid ? 'invalid' : (scoreNum >= 7 ? 'hot' : 'cold');\n\n  results.push({\n    json: {\n      ...lead,\n      fileName,\n      intent,\n      urgency,\n      score: Number.isNaN(scoreNum) ? null : scoreNum,\n      summary,\n      valid,\n      reasons,\n      route,\n      checked_at: new Date().toISOString(),\n    },\n  });\n}\n\nreturn results;"
      },
      "id": "3a3b3c3d-0006-4000-8000-000000000006",
      "name": "Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst os = require('os');\n\nconst baseDir = path.join(os.homedir(), 'lead-qualifier-crm-data');\nconst inboxDir = path.join(baseDir, 'inbox');\nconst processedDir = path.join(baseDir, 'processed');\n\nfs.mkdirSync(processedDir, { recursive: true });\n\nfunction uniquePath(dir, base, ext) {\n  let candidate = path.join(dir, base + ext);\n  let n = 1;\n  while (fs.existsSync(candidate)) {\n    candidate = path.join(dir, base + ' (' + n + ')' + ext);\n    n++;\n  }\n  return candidate;\n}\n\n// Archive the raw lead file here (not after the Airtable write) so a\n// failed Airtable call never deletes or strands data - the file just\n// moves from inbox/ to processed/ either way. Tradeoff: a failed write\n// won't auto-retry next run, but nothing is ever lost (see README).\nconst items = $input.all();\nconst results = [];\n\nfor (const entry of items) {\n  const lead = entry.json;\n\n  if (lead.fileName) {\n    const sourcePath = path.join(inboxDir, lead.fileName);\n    if (fs.existsSync(sourcePath)) {\n      const parsed = path.parse(lead.fileName);\n      fs.renameSync(sourcePath, uniquePath(processedDir, parsed.name, parsed.ext));\n    }\n  }\n\n  results.push({\n    json: {\n      Name: lead.name || '',\n      Email: lead.email || '',\n      Message: lead.message || '',\n      Score: lead.route,\n      Date: lead.checked_at,\n    },\n  });\n}\n\nreturn results;"
      },
      "id": "3a3b3c3d-0007-4000-8000-000000000007",
      "name": "Format & Archive for Airtable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 0]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": "cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cold"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unrouted"
        }
      },
      "id": "3a3b3c3d-0008-4000-8000-000000000008",
      "name": "Switch: Route Lead",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [880, 0]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "create",
        "base": {
          "mode": "list",
          "value": ""
        },
        "table": {
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {
          "typecast": true
        }
      },
      "id": "3a3b3c3d-0009-4000-8000-000000000009",
      "name": "Airtable Create - Hot",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [1120, -220]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "create",
        "base": {
          "mode": "list",
          "value": ""
        },
        "table": {
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {
          "typecast": true
        }
      },
      "id": "3a3b3c3d-0010-4000-8000-000000000010",
      "name": "Airtable Create - Cold",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [1120, 0]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "create",
        "base": {
          "mode": "list",
          "value": ""
        },
        "table": {
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {
          "typecast": true
        }
      },
      "id": "3a3b3c3d-0011-4000-8000-000000000011",
      "name": "Airtable Create - Invalid",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "lastNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "4a4b4c4d-0001-4000-8000-000000000001",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 300],
      "webhookId": "lead-qualifier-crm-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lead-qualifier-crm-webhook-auth-001",
          "name": "Lead Intake Webhook Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst os = require('os');\n\n// Global sliding-window request cap on the public webhook - not per-IP\n// (n8n's Webhook node doesn't cleanly expose the caller's IP to a Code\n// node), but it stops one bad actor (or a leaked demo-form token) from\n// flooding Ollama/Airtable. Upgrade to a reverse-proxy rate limiter if\n// this ever moves beyond localhost.\nconst baseDir = path.join(os.homedir(), 'lead-qualifier-crm-data');\nfs.mkdirSync(baseDir, { recursive: true });\nconst stateFile = path.join(baseDir, 'rate-limit-state.json');\n\nconst WINDOW_MS = 60 * 1000;\nconst MAX_REQUESTS = 10;\n\nlet history = [];\ntry {\n  history = JSON.parse(fs.readFileSync(stateFile, 'utf-8'));\n  if (!Array.isArray(history)) history = [];\n} catch (e) {\n  history = [];\n}\n\nconst now = Date.now();\nhistory = history.filter((t) => now - t < WINDOW_MS);\n\nconst overLimit = history.length >= MAX_REQUESTS;\nif (!overLimit) {\n  history.push(now);\n}\n\nfs.writeFileSync(stateFile, JSON.stringify(history), 'utf-8');\n\nreturn [{ json: { ...$input.first().json, _rateLimited: overLimit ? 'true' : 'false' } }];"
      },
      "id": "4a4b4c4d-0003-4000-8000-000000000003",
      "name": "Rate Limit Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._rateLimited }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a4b4c4d-0004-4000-8000-000000000004",
      "name": "IF: Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-320, 460]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: true,\n    message: 'Too many requests - please wait a minute and try again.'\n  }\n}];"
      },
      "id": "4a4b4c4d-0005-4000-8000-000000000005",
      "name": "Rate Limited Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 600]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst os = require('os');\n\nconst body = ($input.first().json && $input.first().json.body) || {};\nconst baseDir = path.join(os.homedir(), 'lead-qualifier-crm-data');\nconst inboxDir = path.join(baseDir, 'inbox');\nfs.mkdirSync(inboxDir, { recursive: true });\n\nconst lead = {\n  name: body.name || '',\n  email: body.email || '',\n  company: body.company || '',\n  source: body.source || '',\n  message: body.message || '',\n};\n\nconst filename = `lead-${Date.now()}.json`;\nfs.writeFileSync(path.join(inboxDir, filename), JSON.stringify(lead, null, 2), 'utf-8');\n\n// This branch is deliberately independent from the Schedule Trigger\n// chain below - it only drops the file into the same inbox/ folder the\n// schedule already polls every minute, so the proven scoring pipeline\n// is never duplicated or touched.\nreturn [{\n  json: {\n    received: true,\n    message: \"Thanks - we've received your request and will follow up soon.\",\n    filename,\n  },\n}];"
      },
      "id": "4a4b4c4d-0002-4000-8000-000000000002",
      "name": "Write Lead to Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Prepare Inbox", "type": "main", "index": 0 }]]
    },
    "Prepare Inbox": {
      "main": [[{ "node": "Read Lead Files", "type": "main", "index": 0 }]]
    },
    "Read Lead Files": {
      "main": [[{ "node": "Extract Lead Data", "type": "main", "index": 0 }]]
    },
    "Extract Lead Data": {
      "main": [[{ "node": "Ollama Score Lead", "type": "main", "index": 0 }]]
    },
    "Ollama Score Lead": {
      "main": [[{ "node": "Parse & Validate", "type": "main", "index": 0 }]]
    },
    "Parse & Validate": {
      "main": [[{ "node": "Format & Archive for Airtable", "type": "main", "index": 0 }]]
    },
    "Format & Archive for Airtable": {
      "main": [[{ "node": "Switch: Route Lead", "type": "main", "index": 0 }]]
    },
    "Switch: Route Lead": {
      "main": [
        [{ "node": "Airtable Create - Hot", "type": "main", "index": 0 }],
        [{ "node": "Airtable Create - Cold", "type": "main", "index": 0 }],
        [{ "node": "Airtable Create - Invalid", "type": "main", "index": 0 }],
        [{ "node": "Airtable Create - Invalid", "type": "main", "index": 0 }]
      ]
    },
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "IF: Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Rate Limited?": {
      "main": [
        [
          {
            "node": "Rate Limited Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Lead to Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
